.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;  
}

.dark-navbar {
  background: #1A2129;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-bottom: 30px;
}
  
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
  
.container {
  display: flex;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: flex-end;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  text-decoration: none;
 }

.link {
  text-decoration: none;
  color: black;
  margin: 15px;      
}

.dark-link {
  text-decoration: none;
  color: #fff;
  margin: 15px;
}
  
.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
  padding:20px;
  border: none;
}
  
.link:hover {
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  margin-left: -3px;
  border-bottom:red solid 3px;
  padding-bottom: 0 15px;
  transition: 0.3s ease-out; 
}

.dark-link:hover {
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
  margin-left: -3px;
  border-bottom:red solid 3px;
  padding-bottom: 0 15px;
  transition: 0.3s ease-out; 
}
  
.nav-links {
  color: rgb(211, 15, 15);
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 100%;
}
  
.fa-bars {
    color: #fff;
}
  
.menu-icon {
    display: none;
}

.dark-btn {
  margin-left: 3vw;
  width: 10vw;
  height: 7vh;
}

 .light-btn {
  margin-left: 3vw;
  width: 10vw;
  color: white;
  height: 7vh;
}


button {
  font-family: 'Archivo', sans-serif;
  border: none;
  background: none;
  font-weight: 500;
  font-size: clamp(0.1rem, 3vw, 1.25rem);
  color: #1A2129;
}
 
.dark-btn:hover {
  background: #2f363f; 
  color: white;
  border-radius: 8px;
  border:none;
  width: 10vw;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  height: 7vh;
 }

.light-btn:hover {
  background: #ffffff; 
  color: rgb(39, 38, 38);
  border-radius: 8px;
  border:none;
  width: 10vw;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  height: 7vh;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
      
  }
    
  .nav-item {
    height: 40px;
    border-bottom: 2px solid transparent;
    padding:50px;
    border: none;
  }
   
  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
    
  .nav-menu.active {
    background: #9989fc;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;     
  }

  .dark-nav-menu.active {
    background: #1b1f24;;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }
  
  .nav-links {
    width: 100%;
    display: table;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease-out;
  }
  
  .nav-item:hover {
    border: none;
  }
    
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .dark-link {
    text-decoration: none;
    color: #fff;
  }

  .dark-btn {
    margin-left: 3vw;
    width: 35vw;
    height: 5vh;  
 }

  .dark-btn:hover {
    background: #2f363f; 
    color: white;
    border-radius: 8px;
    border:none;
    width: 35vw;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    height: 5vh;
  } 

  .light-btn {
    margin-left: 3vw;
    width: 35vw;
    height: 5vh; 
    color: white;
  }

  .light-btn:hover {
    background: #ffffff; 
    color: rgb(39, 38, 38);
    border-radius: 8px;
    border:none;
    width: 35vw;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
    height: 5vh;
  }
}